
// Font

// Size

.text-size-custom-d1 {
    font-size                           : calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d2 {
    font-size                           : calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d3 {
    font-size                           : calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d4 {
    font-size                           : calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-h1 {
    font-size                           : calc(48 / var(--vw) * var(--multiplier));
}

.text-size-custom-h2 {
    font-size                           : calc(36 / var(--vw) * var(--multiplier));
}

.text-size-custom-h3 {
    font-size                           : calc(28 / var(--vw) * var(--multiplier));
}

.text-size-custom-h4 {
    font-size                           : calc(24 / var(--vw) * var(--multiplier));
}

.text-size-custom-h5 {
    font-size                           : calc(21 / var(--vw) * var(--multiplier));
}

.text-size-custom-h6 {
    font-size                           : calc(17 / var(--vw) * var(--multiplier));
}

.text-size-custom-p {
    font-size                           : calc(16 / var(--vw) * var(--multiplier));
}

.text-size-custom-small {
    font-size                           : calc(14 / var(--vw) * var(--multiplier));
}

.text-size-custom-smallest {
    font-size                           : calc(12 / var(--vw) * var(--multiplier));
}

// Spacing

// Padding

.p-custom-1 {
    padding                             : calc(5 / var(--vw) * var(--multiplier));
}

.p-custom-2 {
    padding                             : calc(10 / var(--vw) * var(--multiplier));
}

.p-custom-3 {
    padding                             : calc(15 / var(--vw) * var(--multiplier));
}

.p-custom-4 {
    padding                             : calc(25 / var(--vw) * var(--multiplier));
}

.p-custom-5 {
    padding                             : calc(30 / var(--vw) * var(--multiplier));
}

.p-custom-6 {
    padding                             : calc(35 / var(--vw) * var(--multiplier));
}

.p-custom-7 {
    padding                             : calc(40 / var(--vw) * var(--multiplier));
}

.p-custom-8 {
    padding                             : calc(45 / var(--vw) * var(--multiplier));
}

.p-custom-9 {
    padding                             : calc(50 / var(--vw) * var(--multiplier));
}

.p-custom-10 {
    padding                             : calc(100 / var(--vw) * var(--multiplier));
}

.p-custom-15 {
    padding                             : calc(150 / var(--vw) * var(--multiplier));
}

.pt-custom-1 {
    padding-top                         : calc(5 / var(--vw) * var(--multiplier));
}

.pt-custom-2 {
    padding-top                         : calc(10 / var(--vw) * var(--multiplier));
}

.pt-custom-3 {
    padding-top                         : calc(15 / var(--vw) * var(--multiplier));
}

.pt-custom-4 {
    padding-top                         : calc(25 / var(--vw) * var(--multiplier));
}

.pt-custom-5 {
    padding-top                         : calc(30 / var(--vw) * var(--multiplier));
}

.pt-custom-6 {
    padding-top                         : calc(35 / var(--vw) * var(--multiplier));
}

.pt-custom-7 {
    padding-top                         : calc(40 / var(--vw) * var(--multiplier));
}

.pt-custom-8 {
    padding-top                         : calc(45 / var(--vw) * var(--multiplier));
}

.pt-custom-9 {
    padding-top                         : calc(50 / var(--vw) * var(--multiplier));
}

.pt-custom-10 {
    padding-top                         : calc(100 / var(--vw) * var(--multiplier));
}

.pt-custom-15 {
    padding-top                         : calc(150 / var(--vw) * var(--multiplier));
}

.pb-custom-1 {
    padding-bottom                      : calc(5 / var(--vw) * var(--multiplier));
}

.pb-custom-2 {
    padding-bottom                      : calc(10 / var(--vw) * var(--multiplier));
}

.pb-custom-3 {
    padding-bottom                      : calc(15 / var(--vw) * var(--multiplier));
}

.pb-custom-4 {
    padding-bottom                      : calc(25 / var(--vw) * var(--multiplier));
}

.pb-custom-5 {
    padding-bottom                      : calc(30 / var(--vw) * var(--multiplier));
}

.pb-custom-6 {
    padding-bottom                      : calc(35 / var(--vw) * var(--multiplier));
}

.pb-custom-7 {
    padding-bottom                      : calc(40 / var(--vw) * var(--multiplier));
}

.pb-custom-8 {
    padding-bottom                      : calc(45 / var(--vw) * var(--multiplier));
}

.pb-custom-9 {
    padding-bottom                      : calc(50 / var(--vw) * var(--multiplier));
}

.pb-custom-10 {
    padding-bottom                      : calc(100 / var(--vw) * var(--multiplier));
}

.pb-custom-15 {
    padding-bottom                      : calc(150 / var(--vw) * var(--multiplier));
}

.pl-custom-1 {
    padding-left                        : calc(5 / var(--vw) * var(--multiplier));
}

.pl-custom-2 {
    padding-left                        : calc(10 / var(--vw) * var(--multiplier));
}

.pl-custom-3 {
    padding-left                        : calc(15 / var(--vw) * var(--multiplier));
}

.pl-custom-4 {
    padding-left                        : calc(25 / var(--vw) * var(--multiplier));
}

.pl-custom-5 {
    padding-left                        : calc(30 / var(--vw) * var(--multiplier));
}

.pl-custom-6 {
    padding-left                        : calc(35 / var(--vw) * var(--multiplier));
}

.pl-custom-7 {
    padding-left                        : calc(40 / var(--vw) * var(--multiplier));
}

.pl-custom-8 {
    padding-left                        : calc(45 / var(--vw) * var(--multiplier));
}

.pl-custom-9 {
    padding-left                        : calc(50 / var(--vw) * var(--multiplier));
}

.pl-custom-10 {
    padding-left                        : calc(100 / var(--vw) * var(--multiplier));
}

.pl-custom-15 {
    padding-left                        : calc(150 / var(--vw) * var(--multiplier));
}

.pr-custom-1 {
    padding-right                       : calc(5 / var(--vw) * var(--multiplier));
}

.pr-custom-2 {
    padding-right                       : calc(10 / var(--vw) * var(--multiplier));
}

.pr-custom-3 {
    padding-right                       : calc(15 / var(--vw) * var(--multiplier));
}

.pr-custom-4 {
    padding-right                       : calc(25 / var(--vw) * var(--multiplier));
}

.pr-custom-5 {
    padding-right                       : calc(30 / var(--vw) * var(--multiplier));
}

.pr-custom-6 {
    padding-right                       : calc(35 / var(--vw) * var(--multiplier));
}

.pr-custom-7 {
    padding-right                       : calc(40 / var(--vw) * var(--multiplier));
}

.pr-custom-8 {
    padding-right                       : calc(45 / var(--vw) * var(--multiplier));
}

.pr-custom-9 {
    padding-right                       : calc(50 / var(--vw) * var(--multiplier));
}

.pr-custom-10 {
    padding-right                       : calc(100 / var(--vw) * var(--multiplier));
}

.pr-custom-15 {
    padding-right                       : calc(150 / var(--vw) * var(--multiplier));
}

.py-custom-1 {
    padding-top                         : calc(5 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(5 / var(--vw) * var(--multiplier));
}

.py-custom-2 {
    padding-top                         : calc(10 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(10 / var(--vw) * var(--multiplier));
}

.py-custom-3 {
    padding-top                         : calc(15 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(15 / var(--vw) * var(--multiplier));
}

.py-custom-4 {
    padding-top                         : calc(25 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(25 / var(--vw) * var(--multiplier));
}

.py-custom-5 {
    padding-top                         : calc(30 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(30 / var(--vw) * var(--multiplier));
}

.py-custom-6 {
    padding-top                         : calc(35 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(35 / var(--vw) * var(--multiplier));
}

.py-custom-7 {
    padding-top                         : calc(40 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(40 / var(--vw) * var(--multiplier));
}

.py-custom-8 {
    padding-top                         : calc(45 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(45 / var(--vw) * var(--multiplier));
}

.py-custom-9 {
    padding-top                         : calc(50 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(50 / var(--vw) * var(--multiplier));
}

.py-custom-10 {
    padding-top                         : calc(100 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(100 / var(--vw) * var(--multiplier));  
}

.py-custom-15 {
    padding-top                         : calc(150 / var(--vw) * var(--multiplier));
    padding-bottom                      : calc(150 / var(--vw) * var(--multiplier));  
}

.px-custom-1 {
    padding-left                        : calc(5 / var(--vw) * var(--multiplier));
    padding-right                       : calc(5 / var(--vw) * var(--multiplier));
}

.px-custom-2 {
    padding-left                        : calc(10 / var(--vw) * var(--multiplier));
    padding-right                       : calc(10 / var(--vw) * var(--multiplier));
}

.px-custom-3 {
    padding-left                        : calc(15 / var(--vw) * var(--multiplier));
    padding-right                       : calc(15 / var(--vw) * var(--multiplier));
}

.px-custom-4 {
    padding-left                        : calc(25 / var(--vw) * var(--multiplier));
    padding-right                       : calc(25 / var(--vw) * var(--multiplier));
}

.px-custom-5 {
    padding-left                        : calc(30 / var(--vw) * var(--multiplier));
    padding-right                       : calc(30 / var(--vw) * var(--multiplier));
}

.px-custom-6 {
    padding-left                        : calc(35 / var(--vw) * var(--multiplier));
    padding-right                       : calc(35 / var(--vw) * var(--multiplier));
}

.px-custom-7 {
    padding-left                        : calc(40 / var(--vw) * var(--multiplier));
    padding-right                       : calc(40 / var(--vw) * var(--multiplier));
}

.px-custom-8 {
    padding-left                        : calc(45 / var(--vw) * var(--multiplier));
    padding-right                       : calc(45 / var(--vw) * var(--multiplier));
}

.px-custom-9 {
    padding-left                        : calc(50 / var(--vw) * var(--multiplier));
    padding-right                       : calc(50 / var(--vw) * var(--multiplier));
}

.px-custom-10 {
    padding-left                        : calc(100 / var(--vw) * var(--multiplier));
    padding-right                       : calc(100 / var(--vw) * var(--multiplier));  
}

.px-custom-15 {
    padding-top                         : calc(150 / var(--vw) * var(--multiplier));
    padding-right                       : calc(150 / var(--vw) * var(--multiplier));  
}
