
@layer utilities {
    
    // Font

    // Size

    .text-size-custom-d1 {
        font-size                           : calc(55 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-d2 {
        font-size                           : calc(55 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-d3 {
        font-size                           : calc(55 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-d4 {
        font-size                           : calc(55 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h1 {
        font-size                           : calc(48 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h2 {
        font-size                           : calc(36 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h3 {
        font-size                           : calc(28 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h4 {
        font-size                           : calc(24 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h5 {
        font-size                           : calc(21 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-h6 {
        font-size                           : calc(17 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-p {
        font-size                           : calc(16 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-small {
        font-size                           : calc(14 / var(--vw) * var(--multiplier));
    }

    .text-size-custom-smallest {
        font-size                           : calc(12 / var(--vw) * var(--multiplier));
    }

    // Spacing

    // Padding

    .p-custom-1 {
        padding                             : calc(5 / var(--vw) * var(--multiplier));
    }

    .p-custom-2 {
        padding                             : calc(10 / var(--vw) * var(--multiplier));
    }

    .p-custom-3 {
        padding                             : calc(15 / var(--vw) * var(--multiplier));
    }

    .p-custom-4 {
        padding                             : calc(25 / var(--vw) * var(--multiplier));
    }

    .p-custom-5 {
        padding                             : calc(30 / var(--vw) * var(--multiplier));
    }

    .p-custom-6 {
        padding                             : calc(35 / var(--vw) * var(--multiplier));
    }

    .p-custom-7 {
        padding                             : calc(40 / var(--vw) * var(--multiplier));
    }

    .p-custom-8 {
        padding                             : calc(45 / var(--vw) * var(--multiplier));
    }

    .p-custom-9 {
        padding                             : calc(50 / var(--vw) * var(--multiplier));
    }

    .p-custom-10 {
        padding                             : calc(100 / var(--vw) * var(--multiplier));
    }

    .p-custom-15 {
        padding                             : calc(150 / var(--vw) * var(--multiplier));
    }

    .pt-custom-1 {
        padding-top                         : calc(5 / var(--vw) * var(--multiplier));
    }

    .pt-custom-2 {
        padding-top                         : calc(10 / var(--vw) * var(--multiplier));
    }

    .pt-custom-3 {
        padding-top                         : calc(15 / var(--vw) * var(--multiplier));
    }

    .pt-custom-4 {
        padding-top                         : calc(25 / var(--vw) * var(--multiplier));
    }

    .pt-custom-5 {
        padding-top                         : calc(30 / var(--vw) * var(--multiplier));
    }

    .pt-custom-6 {
        padding-top                         : calc(35 / var(--vw) * var(--multiplier));
    }

    .pt-custom-7 {
        padding-top                         : calc(40 / var(--vw) * var(--multiplier));
    }

    .pt-custom-8 {
        padding-top                         : calc(45 / var(--vw) * var(--multiplier));
    }

    .pt-custom-9 {
        padding-top                         : calc(50 / var(--vw) * var(--multiplier));
    }

    .pt-custom-10 {
        padding-top                         : calc(100 / var(--vw) * var(--multiplier));
    }

    .pt-custom-15 {
        padding-top                         : calc(150 / var(--vw) * var(--multiplier));
    }

    .pb-custom-1 {
        padding-bottom                      : calc(5 / var(--vw) * var(--multiplier));
    }

    .pb-custom-2 {
        padding-bottom                      : calc(10 / var(--vw) * var(--multiplier));
    }

    .pb-custom-3 {
        padding-bottom                      : calc(15 / var(--vw) * var(--multiplier));
    }

    .pb-custom-4 {
        padding-bottom                      : calc(25 / var(--vw) * var(--multiplier));
    }

    .pb-custom-5 {
        padding-bottom                      : calc(30 / var(--vw) * var(--multiplier));
    }

    .pb-custom-6 {
        padding-bottom                      : calc(35 / var(--vw) * var(--multiplier));
    }

    .pb-custom-7 {
        padding-bottom                      : calc(40 / var(--vw) * var(--multiplier));
    }

    .pb-custom-8 {
        padding-bottom                      : calc(45 / var(--vw) * var(--multiplier));
    }

    .pb-custom-9 {
        padding-bottom                      : calc(50 / var(--vw) * var(--multiplier));
    }

    .pb-custom-10 {
        padding-bottom                      : calc(100 / var(--vw) * var(--multiplier));
    }

    .pb-custom-15 {
        padding-bottom                      : calc(150 / var(--vw) * var(--multiplier));
    }

    .pl-custom-1 {
        padding-left                        : calc(5 / var(--vw) * var(--multiplier));
    }

    .pl-custom-2 {
        padding-left                        : calc(10 / var(--vw) * var(--multiplier));
    }

    .pl-custom-3 {
        padding-left                        : calc(15 / var(--vw) * var(--multiplier));
    }

    .pl-custom-4 {
        padding-left                        : calc(25 / var(--vw) * var(--multiplier));
    }

    .pl-custom-5 {
        padding-left                        : calc(30 / var(--vw) * var(--multiplier));
    }

    .pl-custom-6 {
        padding-left                        : calc(35 / var(--vw) * var(--multiplier));
    }

    .pl-custom-7 {
        padding-left                        : calc(40 / var(--vw) * var(--multiplier));
    }

    .pl-custom-8 {
        padding-left                        : calc(45 / var(--vw) * var(--multiplier));
    }

    .pl-custom-9 {
        padding-left                        : calc(50 / var(--vw) * var(--multiplier));
    }

    .pl-custom-10 {
        padding-left                        : calc(100 / var(--vw) * var(--multiplier));
    }

    .pl-custom-15 {
        padding-left                        : calc(150 / var(--vw) * var(--multiplier));
    }

    .pr-custom-1 {
        padding-right                       : calc(5 / var(--vw) * var(--multiplier));
    }

    .pr-custom-2 {
        padding-right                       : calc(10 / var(--vw) * var(--multiplier));
    }

    .pr-custom-3 {
        padding-right                       : calc(15 / var(--vw) * var(--multiplier));
    }

    .pr-custom-4 {
        padding-right                       : calc(25 / var(--vw) * var(--multiplier));
    }

    .pr-custom-5 {
        padding-right                       : calc(30 / var(--vw) * var(--multiplier));
    }

    .pr-custom-6 {
        padding-right                       : calc(35 / var(--vw) * var(--multiplier));
    }

    .pr-custom-7 {
        padding-right                       : calc(40 / var(--vw) * var(--multiplier));
    }

    .pr-custom-8 {
        padding-right                       : calc(45 / var(--vw) * var(--multiplier));
    }

    .pr-custom-9 {
        padding-right                       : calc(50 / var(--vw) * var(--multiplier));
    }

    .pr-custom-10 {
        padding-right                       : calc(100 / var(--vw) * var(--multiplier));
    }

    .pr-custom-15 {
        padding-right                       : calc(150 / var(--vw) * var(--multiplier));
    }

    .py-custom-1 {
        padding-top                         : calc(5 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(5 / var(--vw) * var(--multiplier));
    }

    .py-custom-2 {
        padding-top                         : calc(10 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(10 / var(--vw) * var(--multiplier));
    }

    .py-custom-3 {
        padding-top                         : calc(15 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(15 / var(--vw) * var(--multiplier));
    }

    .py-custom-4 {
        padding-top                         : calc(25 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(25 / var(--vw) * var(--multiplier));
    }

    .py-custom-5 {
        padding-top                         : calc(30 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(30 / var(--vw) * var(--multiplier));
    }

    .py-custom-6 {
        padding-top                         : calc(35 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(35 / var(--vw) * var(--multiplier));
    }

    .py-custom-7 {
        padding-top                         : calc(40 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(40 / var(--vw) * var(--multiplier));
    }

    .py-custom-8 {
        padding-top                         : calc(45 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(45 / var(--vw) * var(--multiplier));
    }

    .py-custom-9 {
        padding-top                         : calc(50 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(50 / var(--vw) * var(--multiplier));
    }

    .py-custom-10 {
        padding-top                         : calc(100 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(100 / var(--vw) * var(--multiplier));  
    }

    .py-custom-15 {
        padding-top                         : calc(150 / var(--vw) * var(--multiplier));
        padding-bottom                      : calc(150 / var(--vw) * var(--multiplier));  
    }

    .px-custom-1 {
        padding-left                        : calc(5 / var(--vw) * var(--multiplier));
        padding-right                       : calc(5 / var(--vw) * var(--multiplier));
    }

    .px-custom-2 {
        padding-left                        : calc(10 / var(--vw) * var(--multiplier));
        padding-right                       : calc(10 / var(--vw) * var(--multiplier));
    }

    .px-custom-3 {
        padding-left                        : calc(15 / var(--vw) * var(--multiplier));
        padding-right                       : calc(15 / var(--vw) * var(--multiplier));
    }

    .px-custom-4 {
        padding-left                        : calc(25 / var(--vw) * var(--multiplier));
        padding-right                       : calc(25 / var(--vw) * var(--multiplier));
    }

    .px-custom-5 {
        padding-left                        : calc(30 / var(--vw) * var(--multiplier));
        padding-right                       : calc(30 / var(--vw) * var(--multiplier));
    }

    .px-custom-6 {
        padding-left                        : calc(35 / var(--vw) * var(--multiplier));
        padding-right                       : calc(35 / var(--vw) * var(--multiplier));
    }

    .px-custom-7 {
        padding-left                        : calc(40 / var(--vw) * var(--multiplier));
        padding-right                       : calc(40 / var(--vw) * var(--multiplier));
    }

    .px-custom-8 {
        padding-left                        : calc(45 / var(--vw) * var(--multiplier));
        padding-right                       : calc(45 / var(--vw) * var(--multiplier));
    }

    .px-custom-9 {
        padding-left                        : calc(50 / var(--vw) * var(--multiplier));
        padding-right                       : calc(50 / var(--vw) * var(--multiplier));
    }

    .px-custom-10 {
        padding-left                        : calc(100 / var(--vw) * var(--multiplier));
        padding-right                       : calc(100 / var(--vw) * var(--multiplier));  
    }

    .px-custom-15 {
        padding-top                         : calc(150 / var(--vw) * var(--multiplier));
        padding-right                       : calc(150 / var(--vw) * var(--multiplier));  
    }

    // Margin

    .m-custom-1 {
        margin                              : calc(5 / var(--vw) * var(--multiplier));
    }

    .m-custom-2 {
        margin                              : calc(10 / var(--vw) * var(--multiplier));
    }

    .m-custom-3 {
        margin                              : calc(15 / var(--vw) * var(--multiplier));
    }

    .m-custom-4 {
        margin                              : calc(25 / var(--vw) * var(--multiplier));
    }

    .m-custom-5 {
        margin                              : calc(30 / var(--vw) * var(--multiplier));
    }

    .m-custom-6 {
        margin                              : calc(35 / var(--vw) * var(--multiplier));
    }

    .m-custom-7 {
        margin                              : calc(40 / var(--vw) * var(--multiplier));
    }

    .m-custom-8 {
        margin                              : calc(45 / var(--vw) * var(--multiplier));
    }

    .m-custom-9 {
        margin                              : calc(50 / var(--vw) * var(--multiplier));
    }

    .m-custom-10 {
        margin                              : calc(100 / var(--vw) * var(--multiplier));
    }

    .m-custom-15 {
        margin                              : calc(150 / var(--vw) * var(--multiplier));
    }

    .mt-custom-1 {
        margin-top                          : calc(5 / var(--vw) * var(--multiplier));
    }

    .mt-custom-2 {
        margin-top                          : calc(10 / var(--vw) * var(--multiplier));
    }

    .mt-custom-3 {
        margin-top                          : calc(15 / var(--vw) * var(--multiplier));
    }

    .mt-custom-4 {
        margin-top                          : calc(25 / var(--vw) * var(--multiplier));
    }

    .mt-custom-5 {
        margin-top                          : calc(30 / var(--vw) * var(--multiplier));
    }

    .mt-custom-6 {
        margin-top                          : calc(35 / var(--vw) * var(--multiplier));
    }

    .mt-custom-7 {
        margin-top                          : calc(40 / var(--vw) * var(--multiplier));
    }

    .mt-custom-8 {
        margin-top                          : calc(45 / var(--vw) * var(--multiplier));
    }

    .mt-custom-9 {
        margin-top                          : calc(50 / var(--vw) * var(--multiplier));
    }

    .mt-custom-10 {
        margin-top                          : calc(100 / var(--vw) * var(--multiplier));
    }

    .mt-custom-15 {
        margin-top                          : calc(150 / var(--vw) * var(--multiplier));
    }

    .mb-custom-1 {
        margin-bottom                       : calc(5 / var(--vw) * var(--multiplier));
    }

    .mb-custom-2 {
        margin-bottom                       : calc(10 / var(--vw) * var(--multiplier));
    }

    .mb-custom-3 {
        margin-bottom                       : calc(15 / var(--vw) * var(--multiplier));
    }

    .mb-custom-4 {
        margin-bottom                       : calc(25 / var(--vw) * var(--multiplier));
    }

    .mb-custom-5 {
        margin-bottom                       : calc(30 / var(--vw) * var(--multiplier));
    }

    .mb-custom-6 {
        margin-bottom                       : calc(35 / var(--vw) * var(--multiplier));
    }

    .mb-custom-7 {
        margin-bottom                       : calc(40 / var(--vw) * var(--multiplier));
    }

    .mb-custom-8 {
        margin-bottom                       : calc(45 / var(--vw) * var(--multiplier));
    }

    .mb-custom-9 {
        margin-bottom                       : calc(50 / var(--vw) * var(--multiplier));
    }

    .mb-custom-10 {
        margin-bottom                       : calc(100 / var(--vw) * var(--multiplier));
    }

    .mb-custom-15 {
        margin-bottom                       : calc(150 / var(--vw) * var(--multiplier));
    }

    .ml-custom-1 {
        margin-left                         : calc(5 / var(--vw) * var(--multiplier));
    }

    .ml-custom-2 {
        margin-left                         : calc(10 / var(--vw) * var(--multiplier));
    }

    .ml-custom-3 {
        margin-left                         : calc(15 / var(--vw) * var(--multiplier));
    }

    .ml-custom-4 {
        margin-left                         : calc(25 / var(--vw) * var(--multiplier));
    }

    .ml-custom-5 {
        margin-left                         : calc(30 / var(--vw) * var(--multiplier));
    }

    .ml-custom-6 {
        margin-left                         : calc(35 / var(--vw) * var(--multiplier));
    }

    .ml-custom-7 {
        margin-left                         : calc(40 / var(--vw) * var(--multiplier));
    }

    .ml-custom-8 {
        margin-left                         : calc(45 / var(--vw) * var(--multiplier));
    }

    .ml-custom-9 {
        margin-left                         : calc(50 / var(--vw) * var(--multiplier));
    }

    .ml-custom-10 {
        margin-left                         : calc(100 / var(--vw) * var(--multiplier));
    }

    .ml-custom-15 {
        margin-left                         : calc(150 / var(--vw) * var(--multiplier));
    }

    .mr-custom-1 {
        margin-right                        : calc(5 / var(--vw) * var(--multiplier));
    }

    .mr-custom-2 {
        margin-right                        : calc(10 / var(--vw) * var(--multiplier));
    }

    .mr-custom-3 {
        margin-right                        : calc(15 / var(--vw) * var(--multiplier));
    }

    .mr-custom-4 {
        margin-right                        : calc(25 / var(--vw) * var(--multiplier));
    }

    .mr-custom-5 {
        margin-right                        : calc(30 / var(--vw) * var(--multiplier));
    }

    .mr-custom-6 {
        margin-right                        : calc(35 / var(--vw) * var(--multiplier));
    }

    .mr-custom-7 {
        margin-right                        : calc(40 / var(--vw) * var(--multiplier));
    }

    .mr-custom-8 {
        margin-right                        : calc(45 / var(--vw) * var(--multiplier));
    }

    .mr-custom-9 {
        margin-right                        : calc(50 / var(--vw) * var(--multiplier));
    }

    .mr-custom-10 {
        margin-right                        : calc(100 / var(--vw) * var(--multiplier));
    }

    .mr-custom-15 {
        margin-right                        : calc(150 / var(--vw) * var(--multiplier));
    }

    .my-custom-1 {
        margin-top                          : calc(5 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(5 / var(--vw) * var(--multiplier));
    }

    .my-custom-2 {
        margin-top                          : calc(10 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(10 / var(--vw) * var(--multiplier));
    }

    .my-custom-3 {
        margin-top                          : calc(15 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(15 / var(--vw) * var(--multiplier));
    }

    .my-custom-4 {
        margin-top                          : calc(25 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(25 / var(--vw) * var(--multiplier));
    }

    .my-custom-5 {
        margin-top                          : calc(30 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(30 / var(--vw) * var(--multiplier));
    }

    .my-custom-6 {
        margin-top                          : calc(35 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(35 / var(--vw) * var(--multiplier));
    }

    .my-custom-7 {
        margin-top                          : calc(40 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(40 / var(--vw) * var(--multiplier));
    }

    .my-custom-8 {
        margin-top                          : calc(45 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(45 / var(--vw) * var(--multiplier));
    }

    .my-custom-9 {
        margin-top                          : calc(50 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(50 / var(--vw) * var(--multiplier));
    }

    .my-custom-10 {
        margin-top                          : calc(100 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(100 / var(--vw) * var(--multiplier));  
    }

    .my-custom-15 {
        margin-top                          : calc(150 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(150 / var(--vw) * var(--multiplier));  
    }

    .mx-custom-1 {
        margin-left                         : calc(5 / var(--vw) * var(--multiplier));
        margin-right                        : calc(5 / var(--vw) * var(--multiplier));
    }

    .mx-custom-2 {
        margin-left                         : calc(10 / var(--vw) * var(--multiplier));
        margin-right                        : calc(10 / var(--vw) * var(--multiplier));
    }

    .mx-custom-3 {
        margin-left                         : calc(15 / var(--vw) * var(--multiplier));
        margin-right                        : calc(15 / var(--vw) * var(--multiplier));
    }

    .mx-custom-4 {
        margin-left                         : calc(25 / var(--vw) * var(--multiplier));
        margin-right                        : calc(25 / var(--vw) * var(--multiplier));
    }

    .mx-custom-5 {
        margin-left                         : calc(30 / var(--vw) * var(--multiplier));
        margin-right                        : calc(30 / var(--vw) * var(--multiplier));
    }

    .mx-custom-6 {
        margin-left                         : calc(-35 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-35 / var(--vw) * var(--multiplier));
    }

    .mx-custom-7 {
        margin-left                         : calc(-40 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-40 / var(--vw) * var(--multiplier));
    }

    .mx-custom-8 {
        margin-left                         : calc(-45 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-45 / var(--vw) * var(--multiplier));
    }

    .mx-custom-9 {
        margin-left                         : calc(-50 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-50 / var(--vw) * var(--multiplier));
    }

    .mx-custom-10 {
        margin-left                         : calc(-100 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-100 / var(--vw) * var(--multiplier));  
    }

    .mx-custom-15 {
        margin-top                          : calc(-150 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-150 / var(--vw) * var(--multiplier));  
    }

    .m-minus-custom-1 {
        margin                              : calc(-5 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-2 {
        margin                              : calc(-10 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-3 {
        margin                              : calc(-15 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-4 {
        margin                              : calc(-25 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-5 {
        margin                              : calc(-30 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-6 {
        margin                              : calc(-35 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-7 {
        margin                              : calc(-40 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-8 {
        margin                              : calc(-45 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-9 {
        margin                              : calc(-50 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-10 {
        margin                              : calc(-100 / var(--vw) * var(--multiplier));
    }

    .m-minus-custom-15 {
        margin                              : calc(-150 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-1 {
        margin-top                          : calc(-5 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-2 {
        margin-top                          : calc(-10 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-3 {
        margin-top                          : calc(-15 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-4 {
        margin-top                          : calc(-25 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-5 {
        margin-top                          : calc(-30 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-6 {
        margin-top                          : calc(-35 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-7 {
        margin-top                          : calc(-40 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-8 {
        margin-top                          : calc(-45 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-9 {
        margin-top                          : calc(-50 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-10 {
        margin-top                          : calc(-100 / var(--vw) * var(--multiplier));
    }

    .mt-minus-custom-15 {
        margin-top                          : calc(-150 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-1 {
        margin-bottom                       : calc(-5 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-2 {
        margin-bottom                       : calc(-10 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-3 {
        margin-bottom                       : calc(-15 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-4 {
        margin-bottom                       : calc(-25 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-5 {
        margin-bottom                       : calc(-30 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-6 {
        margin-bottom                       : calc(-35 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-7 {
        margin-bottom                       : calc(-40 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-8 {
        margin-bottom                       : calc(-45 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-9 {
        margin-bottom                       : calc(-50 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-10 {
        margin-bottom                       : calc(-100 / var(--vw) * var(--multiplier));
    }

    .mb-minus-custom-15 {
        margin-bottom                       : calc(-150 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-1 {
        margin-left                         : calc(-5 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-2 {
        margin-left                         : calc(-10 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-3 {
        margin-left                         : calc(-15 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-4 {
        margin-left                         : calc(-25 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-5 {
        margin-left                         : calc(-30 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-6 {
        margin-left                         : calc(-35 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-7 {
        margin-left                         : calc(-40 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-8 {
        margin-left                         : calc(-45 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-9 {
        margin-left                         : calc(-50 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-10 {
        margin-left                         : calc(-100 / var(--vw) * var(--multiplier));
    }

    .ml-minus-custom-15 {
        margin-left                         : calc(-150 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-1 {
        margin-right                        : calc(-5 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-2 {
        margin-right                        : calc(-10 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-3 {
        margin-right                        : calc(-15 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-4 {
        margin-right                        : calc(-25 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-5 {
        margin-right                        : calc(-30 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-6 {
        margin-right                        : calc(-35 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-7 {
        margin-right                        : calc(-40 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-8 {
        margin-right                        : calc(-45 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-9 {
        margin-right                        : calc(-50 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-10 {
        margin-right                        : calc(-100 / var(--vw) * var(--multiplier));
    }

    .mr-minus-custom-15 {
        margin-right                        : calc(-150 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-1 {
        margin-top                          : calc(-5 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-5 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-2 {
        margin-top                          : calc(-10 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-10 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-3 {
        margin-top                          : calc(-15 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-15 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-4 {
        margin-top                          : calc(-25 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-25 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-5 {
        margin-top                          : calc(-30 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-30 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-6 {
        margin-top                          : calc(-35 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-35 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-7 {
        margin-top                          : calc(-40 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-40 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-8 {
        margin-top                          : calc(-45 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-45 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-9 {
        margin-top                          : calc(-50 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-50 / var(--vw) * var(--multiplier));
    }

    .my-minus-custom-10 {
        margin-top                          : calc(-100 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-100 / var(--vw) * var(--multiplier));  
    }

    .my-minus-custom-15 {
        margin-top                          : calc(-150 / var(--vw) * var(--multiplier));
        margin-bottom                       : calc(-150 / var(--vw) * var(--multiplier));  
    }

    .mx-minus-custom-1 {
        margin-left                         : calc(-5 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-5 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-2 {
        margin-left                         : calc(-10 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-10 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-3 {
        margin-left                         : calc(-15 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-15 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-4 {
        margin-left                         : calc(-25 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-25 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-5 {
        margin-left                         : calc(-30 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-30 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-6 {
        margin-left                         : calc(-35 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-35 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-7 {
        margin-left                         : calc(-40 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-40 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-8 {
        margin-left                         : calc(-45 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-45 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-9 {
        margin-left                         : calc(-50 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-50 / var(--vw) * var(--multiplier));
    }

    .mx-minus-custom-10 {
        margin-left                         : calc(-100 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-100 / var(--vw) * var(--multiplier));  
    }

    .mx-minus-custom-15 {
        margin-top                          : calc(-150 / var(--vw) * var(--multiplier));
        margin-right                        : calc(-150 / var(--vw) * var(--multiplier));  
    }

    // Gap

    .gap-custom-gap-1 {
        gap                                 : calc(5 / var(--vw) * var(--multiplier));
    }

    .gap-custom-gap-2 {
        gap                                 : calc(10 / var(--vw) * var(--multiplier));
    }

    .gap-custom-gap-3 {
        gap                                 : calc(15 / var(--vw) * var(--multiplier));
    }

    .gap-custom-gap-4 {
        gap                                 : calc(25 / var(--vw) * var(--multiplier));
    }

    .gap-custom-gap-5 {
        gap                                 : calc(30 / var(--vw) * var(--multiplier));
    }

    .gap-custom-gap-6 {
        gap                                 : calc(35 / var(--vw) * var(--multiplier));
    }

    // Border

    .rounded-custom-md {
        border-radius                       : calc(10 / var(--vw) * var(--multiplier));
    }

    .rounded-custom-lg {
        border-radius                       : calc(20 / var(--vw) * var(--multiplier));
    }
}
