
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'general';

/* ----- Variables ----- */

:root {
    --vw                                : 1600;
    --multiplier                        : 100vw;

    --font-size-general                 : 16;
    --font-size-title                   : 165;
    --font-size-subtitle                : 14;
    --font-size-description             : 16;
    --font-size-date                    : 16;
    --font-size-caption                 : 16;
    --font-size-number                  : 47.5;
    --font-size-link                    : 14;
    --font-size-button                  : 16;
    --font-size-icon                    : 12;

    // Color

    --color-primary                     : #4444DD;
    --color-secondary                   : #595CFF;
    --color-tertiary                    : #FF7B9C;
    --color-quarter                     : #E0E1FF;
    --color-quinary                     : #F5F6FF;

    // Transition

    --cubic-bezier-1                    : cubic-bezier(0.625, 0.05, 0, 1);
}

.container {
    max-width                           : 90% !important; 
}

@media (min-width: 2000px) {
    :root {
        --vw: 1800;
    }

    .container {
        max-width                       : 1440px !important;
    }
}

@media (min-width: 2250px) {
    :root {
        --vw: 2500;
    }
}

@media (max-width: 900px) {
    :root {
        --vw: 900;
    }
}

@media (max-width: 600px) {
    :root {
        --vw: 400;
    }
}

body {
    @apply pr-0;

    @apply font-dmSans;

    @apply text-black;

    @apply bg-white;

    font-size                           : calc(16 / var(--vw) * var(--multiplier));
}

a, button {
    transition                          : 0.65s var(--cubic-bezier-1);

    * {
        transition                      : 0.65s var(--cubic-bezier-1);
    }

    &:before, &:after {
        transition                      : 0.65s var(--cubic-bezier-1);
    }
}

a:not(.btn):hover {
    @apply text-color-custom-primary;
}

svg {
    width                               : calc(20 / var(--vw) * var(--multiplier));
    height                              : calc(20 / var(--vw) * var(--multiplier));
}

.wizard {
    @apply relative;
}

// Background

@keyframes animate-bg-custom-gradient-primary {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-custom-gradient-primary {
    background                              : linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 90%);

    &.bg-custom-animate-gradient-primary {
        background-size                     : 200% 200%;
        animation                           : animate-bg-custom-gradient-primary 10s ease infinite;
    }
}

/* Text */

.text-title-primary {
    line-height                             : 1.25;

    span {
        @apply text-color-custom-secondary;
    }
}

.text-number-primary {
    @apply font-bold;
}

/* Button */

.btn-default {
    @apply relative;
    
    @apply inline-block;

    @apply text-center;

    @apply font-semibold;
    
    font-size               : calc(19 / var(--vw) * var(--multiplier));

    > span {
        &.wrapper {
            > span {
                @apply relative;

                &.text {
                    @apply block;

                    @apply overflow-hidden;

                    > span {
                        @apply block;   
                        
                        &:nth-child(2) {
                            @apply absolute;

                            @apply w-full;

                            top                         : 100%;
                        }                  

                        > span {
                            @apply inline-block;

                            white-space                 : pre;

                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}) {
                                    transition-delay    : #{($i - 1) * 0.005}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            &.wrapper {
                > span {
                    &.text {
                        > span {
                            &:nth-child(1) {
                                > span {
                                    transform                   : translateY(-100%);
                                }
                            }

                            &:nth-child(2) {
                                > span {
                                    transform                   : translateY(-100%);
                                }
                            }

                            > span {
                                @for $i from 1 through 25 {
                                    &:nth-child(#{$i}) {
                                        transition-delay        : #{($i - 1) * 0.0125}s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.btn-solid {
    @apply rounded-custom-md;

    width                               : calc(225 / var(--vw) * var(--multiplier));

    padding                             : calc(17.5 / var(--vw) * var(--multiplier)) calc(20 / var(--vw) * var(--multiplier));

    &:before {
        @apply absolute;

        @apply h-full;

        @apply opacity-0;

        @apply rounded-full;

        content                         : ''; 

        z-index                         : -1;

        width                           : 90%;

        bottom                          : 0;
        left                            : 5%;

        background                      : inherit;

        filter                          : blur(15px);
    }

    &.primary {
        @apply text-color-custom-white;

        @apply bg-color-custom-primary;

        &:hover {
            @apply bg-opacity-[0.90];
        }
    }

    &.secondary-light {
        @apply text-color-custom-primary;

        @apply bg-color-custom-quarter;

        &:before {
            @apply bg-color-custom-secondary;
        }

        &:hover {
            @apply text-white;
            
            @apply bg-color-custom-secondary;
        }
    }

    &.quarter {
        @apply text-color-custom-black;

        @apply bg-color-custom-quarter;

        &:hover {
            @apply bg-color-custom-quarter;
        }
    }

    &.light {
        @apply text-color-custom-black;

        @apply bg-color-custom-white;
    }

    &.gradient-secondary {
        @apply text-color-custom-white;

        background                          : linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);

        background-size                     : 300% 300%;

        &:before {
            background                      : linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);

            background-size                 : 100% 100%;
        }

        &:hover {
            background-size                 : 100% 100%;
        }
    }

    &:hover {
        transform                           : translateY(-5px);

        &:before {
            @apply opacity-40;

            bottom                          : -10px;
        }
    }
}

.btn-transparent {
    @apply text-primary;

    font-size               : calc(17 / var(--vw) * var(--multiplier));

    &.primary {
        @apply text-primary;
    }

    > span {
        &.wrapper {
            @apply flex;

            @apply items-center;

            > span {
                &.icon {
                    @apply inline-flex;

                    @apply items-center;

                    @apply justify-center;

                    @apply ml-custom-3;

                    @apply bg-white;

                    @apply rounded-full;

                    width                   : calc(45 / var(--vw) * var(--multiplier));
                    height                  : calc(45 / var(--vw) * var(--multiplier));

                    svg {
                        width                   : calc(25 / var(--vw) * var(--multiplier));
                        height                  : calc(25 / var(--vw) * var(--multiplier));       
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            &.wrapper {
                > span {
                    &.icon {
                        @apply scale-90;
                    }
                }
            }
        }
    }
}

// Link

.link-default {
    @apply relative;

    @apply text-white;

    font-family         : var(--font-family-link);
    font-weight         : var(--font-weight-link);
    font-size           : calc(var(--font-size-link) / var(--vw) * var(--multiplier));

    line-height         : calc(calc(var(--font-size-link) / var(--vw) * var(--multiplier)) * 1.5);

    > span {
        &.wrapper {
            @apply relative;

            @apply inline-flex;

            @apply items-center;

            @apply overflow-hidden;

            padding                 : calc(10 / var(--vw) * var(--multiplier)) 0;

            &:before, &:after {
                @apply absolute;

                @apply w-full;

                @apply bg-white;

                content                 : '';

                height                  : calc(1 / var(--vw) * var(--multiplier));

                bottom                  : calc(1 / var(--vw) * var(--multiplier));
                left                    : 0;

                transform               : scaleX(0);

                transition              : 0.65s var(--cubic-bezier-1);
            }

            &:before {
                transform-origin        : right;
            }

            &:after {
                transition              : unset;

                transform-origin        : left;
            }

            > span {
                @apply relative;

                z-index                 : 20;

                &.text {
                    @apply flex;

                    @apply items-center;

                    @apply overflow-hidden;

                    > span {
                        @apply block;

                        @apply overflow-hidden;

                        z-index                 : 20;

                        &:nth-child(2) {
                            @apply absolute;

                            top                 : 50%;

                            transform           : translateY(-50%);

                            > span {
                                transform       : translateY(100%);
                            }
                        }

                        > span {
                            @apply inline-block;

                            white-space                     : pre;

                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.005}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &:hover {
        > span {
            &.wrapper {
                &:before, &:after {
                    transform               : scaleX(1);
                }

                &:before {
                    transition              : unset;
                    transition-delay        : 0.325s;
                }

                &:after {
                    transition-duration     : 0.65s;
                }
            }

            > span {
                &.text {
                    > span {
                        &:nth-child(1) {
                            > span {
                                transform                   : translateY(-100%);
                            }
                        }

                        &:nth-child(2) {
                            > span {
                                transform                   : translateY(0%);
                            }
                        }

                        > span {
                            @for $i from 1 through 25 {
                                &:nth-child(#{$i}) {
                                    transition-delay        : #{($i - 1) * 0.0075}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.text-link-secondary {
    @apply text-black;

    &:hover {
        color                       : #40404A !important;
    }
}

// Card

.feature-card {

    // Secondary

    &.secondary {
        transition                  : 0.65s var(--cubic-bezier-1);

        * {
            transition              : 0.65s var(--cubic-bezier-1);
        }

        &:before {
            @apply absolute;

            @apply h-full;

            @apply opacity-0;

            @apply bg-secondary;

            @apply rounded-custom-lg;

            content                         : ''; 

            z-index                         : -1;

            width                           : 85%;

            bottom                          : 0;
            left                            : 5%;

            filter                          : blur(15px);

            transition                      : 0.65s var(--cubic-bezier-1);
        }

        &:hover {
            transform                       : translateY(-15px);

            &:before {
                @apply opacity-40;

                bottom                      : -20px;
            }

            > .wrapper-inner {
                @apply bg-secondary;
            }

            .content-icon {
                .icon {
                    > span {
                        @apply bg-white;

                        @apply border-white;

                        transform                       : translateY(-7.5px);  
                    }
                }
            }

            .content-text {
                .subtitle {
                    .text-subtitle-primary {
                        @apply text-white;
                    }
                }

                .desc {
                    .text-description-primary {
                        @apply text-white;
                    }
                }
            }

            .content-button {
                .button {
                    .btn-default {
                        @apply text-white;
                    }
                }
            }
        }
    }
}

.marquee-fade-horizontal {
    mask-image                      : linear-gradient(to right, rgba(0, 0, 0, 0) 2.5%, rgb(0, 0, 0) 23%, rgb(0, 0, 0) 77%, rgba(0, 0, 0, 0) 97.5%);
}

// Tablet

@media (max-width: 800px) {

    .container {
        max-width                       : 100% !important;
    }
    
    .btn-solid {
        padding                         : calc(12.5 / var(--vw) * var(--multiplier)) calc(15 / var(--vw) * var(--multiplier));
    }

    .btn-transparent {
        > span {
            &.wrapper {
                > span {
                    &.icon {
                        width                   : calc(30 / var(--vw) * var(--multiplier));
                        height                  : calc(30 / var(--vw) * var(--multiplier));

                        svg {
                            width                   : calc(12.5 / var(--vw) * var(--multiplier));
                            height                  : calc(12.5 / var(--vw) * var(--multiplier));       
                        }
                    }
                }
            }
        }
    }
}

.flickity-viewport {
    outline             : none !important;
    
    border              : none !important; 

    box-shadow          : none !important; 

    &.is-pointer-down {
        outline             : none !important;
        
        border              : none !important; 

        box-shadow          : none !important; 
    }

    .carousel-cell {
        @apply opacity-35;

        &.is-selected {
            @apply opacity-100;
        }
    }
}

.flickity-button {
    @apply absolute;
    
    @apply inline-flex;

    @apply items-center;

    @apply justify-center;

    @apply w-14;
    @apply h-14;

    @apply opacity-100;

    @apply bg-secondary;

    @apply bg-opacity-20;

    @apply rounded-full;

    top                 : 45%;

    svg {
        @apply fill-primary;
    }

    &:hover {
        @apply bg-opacity-100;

        svg {
            @apply fill-white;
        }
    }

    &:disabled {
        @apply opacity-0;
    }

    &.previous {
        left            : calc(-65 / var(--vw) * var(--multiplier));
    }

    &.next {
        right           : calc(-100 / var(--vw) * var(--multiplier));
    }

    @media (max-width: 1080px) {
        &.previous {
            left            : calc(-70 / var(--vw) * var(--multiplier));
        }

        &.next {
            right           : calc(-70 / var(--vw) * var(--multiplier));
        }
    }

    @media (max-width: 600px) {
        @apply w-12;
        @apply h-12;

        &.previous {
            left            : calc(-15 / var(--vw) * var(--multiplier));
        }

        &.next {
            right           : calc(-15 / var(--vw) * var(--multiplier));
        }
    }
}