
/* ----- Variables ----- */

:root {
    --vw                                : 1440;
    --multiplier                        : 100vw;

    --font-size-general                 : 16;
    --font-size-title                   : 165;
    --font-size-subtitle                : 14;
    --font-size-description             : 16;
    --font-size-date                    : 16;
    --font-size-caption                 : 16;
    --font-size-number                  : 47.5;
    --font-size-link                    : 14;
    --font-size-button                  : 16;
    --font-size-icon                    : 12;
}

@media (max-width: 1080px) {
    :root {
        --vw: 900;
    }
}

@media (max-width: 600px) {
    :root {
        --vw: 400;
    }
}

* {
    @apply transition-all;
}

body {
    @apply pr-0;

    @apply font-sans;

    @apply text-black;

    @apply bg-white;
}

.wizard {
    @apply relative;
}

.btn-solid {
    @apply inline-block;

    @apply text-center;

    @apply font-semibold;

    @apply rounded-xl;

    width                               : calc(135 / var(--vw) * var(--multiplier));

    padding                             : calc(10 / var(--vw) * var(--multiplier)) calc(20 / var(--vw) * var(--multiplier));
}

.btn-solid.primary {
    @apply text-white;

    @apply bg-primary;
}

.btn-solid.primary:hover {
    @apply bg-opacity-[0.90];
}

.btn-solid.secondary {
    @apply text-black;

    @apply bg-secondary bg-opacity-[0.15];
}

.btn-solid.secondary:hover {
    @apply bg-secondary bg-opacity-[0.25];
}