@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ----- Variables ----- */
:root {
  --vw: 1600;
  --multiplier: 100vw;
  --font-size-general: 16;
  --font-size-title: 165;
  --font-size-subtitle: 14;
  --font-size-description: 16;
  --font-size-date: 16;
  --font-size-caption: 16;
  --font-size-number: 47.5;
  --font-size-link: 14;
  --font-size-button: 16;
  --font-size-icon: 12;
  --color-primary: #4444DD;
  --color-secondary: #595CFF;
  --color-tertiary: #FF7B9C;
  --color-quarter: #E0E1FF;
  --color-quinary: #F5F6FF;
  --cubic-bezier-1: cubic-bezier(0.625, 0.05, 0, 1);
}

@media (max-width: 1080px) {
  :root {
    --vw: 900;
  }
}
@media (max-width: 600px) {
  :root {
    --vw: 400;
  }
}
body {
  @apply pr-0;
  @apply font-dmSans;
  @apply text-black;
  @apply bg-white;
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

a, button {
  transition: 0.65s var(--cubic-bezier-1);
}
a *, button * {
  transition: 0.65s var(--cubic-bezier-1);
}
a:before, a:after, button:before, button:after {
  transition: 0.65s var(--cubic-bezier-1);
}

a:not(.btn):hover {
  @apply text-color-custom-primary;
}

.container {
  max-width: 90% !important;
}

svg {
  width: calc(20 / var(--vw) * var(--multiplier));
  height: calc(20 / var(--vw) * var(--multiplier));
}

.wizard {
  @apply relative;
}

@keyframes animate-bg-custom-gradient-primary {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-custom-gradient-primary {
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 90%);
}
.bg-custom-gradient-primary.bg-custom-animate-gradient-primary {
  background-size: 200% 200%;
  animation: animate-bg-custom-gradient-primary 10s ease infinite;
}

/* Text */
.text-title-primary span {
  @apply text-color-custom-secondary;
}

.text-number-primary {
  @apply font-bold;
}

/* Button */
.btn-default {
  @apply relative;
  @apply inline-block;
  @apply text-center;
  @apply font-semibold;
  @apply text-size-custom-button-primary;
}
.btn-default > span.wrapper > span {
  @apply relative;
}
.btn-default > span.wrapper > span.text {
  @apply block;
  @apply overflow-hidden;
}
.btn-default > span.wrapper > span.text > span {
  @apply block;
}
.btn-default > span.wrapper > span.text > span:nth-child(2) {
  @apply absolute;
  @apply w-full;
  top: 100%;
}
.btn-default > span.wrapper > span.text > span > span {
  @apply inline-block;
  white-space: pre;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.005s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.01s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.015s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.02s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.025s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.03s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.035s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.04s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.045s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.05s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.055s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.06s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.065s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.07s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.075s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.08s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.085s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.09s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.095s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.1s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.105s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.11s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.115s;
}
.btn-default > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.12s;
}
.btn-default:hover > span.wrapper > span.text > span:nth-child(1) > span {
  transform: translateY(-100%);
}
.btn-default:hover > span.wrapper > span.text > span:nth-child(2) > span {
  transform: translateY(-100%);
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.0125s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.025s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.0375s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.05s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.0625s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.075s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.0875s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.1s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.1125s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.125s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.1375s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.15s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.1625s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.175s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.1875s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.2s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.2125s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.225s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.2375s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.25s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.2625s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.275s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.2875s;
}
.btn-default:hover > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.3s;
}

.btn-solid {
  @apply rounded-custom-md;
  width: calc(225 / var(--vw) * var(--multiplier));
  padding: calc(17.5 / var(--vw) * var(--multiplier)) calc(20 / var(--vw) * var(--multiplier));
}
.btn-solid:before {
  @apply absolute;
  @apply h-full;
  @apply opacity-0;
  @apply rounded-full;
  content: "";
  z-index: -1;
  width: 90%;
  bottom: 0;
  left: 5%;
  background: inherit;
  filter: blur(15px);
}
.btn-solid.primary {
  @apply text-color-custom-white;
  @apply bg-color-custom-primary;
}
.btn-solid.primary:hover {
  @apply bg-opacity-[0.90];
}
.btn-solid.secondary-light {
  @apply text-color-custom-primary;
  @apply bg-color-custom-quarter;
}
.btn-solid.secondary-light:before {
  @apply bg-color-custom-secondary;
}
.btn-solid.secondary-light:hover {
  @apply text-white;
  @apply bg-color-custom-secondary;
}
.btn-solid.quarter {
  @apply text-color-custom-black;
  @apply bg-color-custom-quarter;
}
.btn-solid.quarter:hover {
  @apply bg-color-custom-quarter;
}
.btn-solid.light {
  @apply text-color-custom-black;
  @apply bg-color-custom-white;
}
.btn-solid.gradient-secondary {
  @apply text-color-custom-white;
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);
  background-size: 300% 300%;
}
.btn-solid.gradient-secondary:before {
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);
  background-size: 100% 100%;
}
.btn-solid.gradient-secondary:hover {
  background-size: 100% 100%;
}
.btn-solid:hover {
  transform: translateY(-5px);
}
.btn-solid:hover:before {
  @apply opacity-40;
  bottom: -10px;
}

.btn-transparent {
  @apply text-size-custom-button-secondary;
  @apply text-primary;
}
.btn-transparent.primary {
  @apply text-primary;
}
.btn-transparent > span.wrapper {
  @apply flex;
  @apply items-center;
}
.btn-transparent > span.wrapper > span.icon {
  @apply inline-flex;
  @apply items-center;
  @apply justify-center;
  @apply ml-custom-3;
  @apply bg-white;
  @apply rounded-full;
  width: calc(45 / var(--vw) * var(--multiplier));
  height: calc(45 / var(--vw) * var(--multiplier));
}
.btn-transparent > span.wrapper > span.icon svg {
  width: calc(25 / var(--vw) * var(--multiplier));
  height: calc(25 / var(--vw) * var(--multiplier));
}
.btn-transparent:hover > span.wrapper > span.icon {
  @apply scale-90;
}

.link-default {
  @apply relative;
  @apply text-white;
  font-family: var(--font-family-link);
  font-weight: var(--font-weight-link);
  font-size: calc(var(--font-size-link) / var(--vw) * var(--multiplier));
  line-height: calc(var(--font-size-link) / var(--vw) * var(--multiplier) * 1.5);
}
.link-default > span.wrapper {
  @apply relative;
  @apply inline-flex;
  @apply items-center;
  @apply overflow-hidden;
  padding: calc(10 / var(--vw) * var(--multiplier)) 0;
}
.link-default > span.wrapper:before, .link-default > span.wrapper:after {
  @apply absolute;
  @apply w-full;
  @apply bg-white;
  content: "";
  height: calc(1 / var(--vw) * var(--multiplier));
  bottom: calc(1 / var(--vw) * var(--multiplier));
  left: 0;
  transform: scaleX(0);
  transition: 0.65s var(--cubic-bezier-1);
}
.link-default > span.wrapper:before {
  transform-origin: right;
}
.link-default > span.wrapper:after {
  transition: unset;
  transform-origin: left;
}
.link-default > span.wrapper > span {
  @apply relative;
  z-index: 20;
}
.link-default > span.wrapper > span.text {
  @apply flex;
  @apply items-center;
  @apply overflow-hidden;
}
.link-default > span.wrapper > span.text > span {
  @apply block;
  @apply overflow-hidden;
  z-index: 20;
}
.link-default > span.wrapper > span.text > span:nth-child(2) {
  @apply absolute;
  top: 50%;
  transform: translateY(-50%);
}
.link-default > span.wrapper > span.text > span:nth-child(2) > span {
  transform: translateY(100%);
}
.link-default > span.wrapper > span.text > span > span {
  @apply inline-block;
  white-space: pre;
}
.link-default > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.005s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.01s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.015s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.02s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.025s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.03s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.035s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.04s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.045s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.05s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.055s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.06s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.065s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.07s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.075s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.08s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.085s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.09s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.095s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.1s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.105s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.11s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.115s;
}
.link-default > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.12s;
}
.link-default:hover > span.wrapper:before, .link-default:hover > span.wrapper:after {
  transform: scaleX(1);
}
.link-default:hover > span.wrapper:before {
  transition: unset;
  transition-delay: 0.325s;
}
.link-default:hover > span.wrapper:after {
  transition-duration: 0.65s;
}
.link-default:hover > span > span.text > span:nth-child(1) > span {
  transform: translateY(-100%);
}
.link-default:hover > span > span.text > span:nth-child(2) > span {
  transform: translateY(0%);
}
.link-default:hover > span > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}
.link-default:hover > span > span.text > span > span:nth-child(2) {
  transition-delay: 0.0075s;
}
.link-default:hover > span > span.text > span > span:nth-child(3) {
  transition-delay: 0.015s;
}
.link-default:hover > span > span.text > span > span:nth-child(4) {
  transition-delay: 0.0225s;
}
.link-default:hover > span > span.text > span > span:nth-child(5) {
  transition-delay: 0.03s;
}
.link-default:hover > span > span.text > span > span:nth-child(6) {
  transition-delay: 0.0375s;
}
.link-default:hover > span > span.text > span > span:nth-child(7) {
  transition-delay: 0.045s;
}
.link-default:hover > span > span.text > span > span:nth-child(8) {
  transition-delay: 0.0525s;
}
.link-default:hover > span > span.text > span > span:nth-child(9) {
  transition-delay: 0.06s;
}
.link-default:hover > span > span.text > span > span:nth-child(10) {
  transition-delay: 0.0675s;
}
.link-default:hover > span > span.text > span > span:nth-child(11) {
  transition-delay: 0.075s;
}
.link-default:hover > span > span.text > span > span:nth-child(12) {
  transition-delay: 0.0825s;
}
.link-default:hover > span > span.text > span > span:nth-child(13) {
  transition-delay: 0.09s;
}
.link-default:hover > span > span.text > span > span:nth-child(14) {
  transition-delay: 0.0975s;
}
.link-default:hover > span > span.text > span > span:nth-child(15) {
  transition-delay: 0.105s;
}
.link-default:hover > span > span.text > span > span:nth-child(16) {
  transition-delay: 0.1125s;
}
.link-default:hover > span > span.text > span > span:nth-child(17) {
  transition-delay: 0.12s;
}
.link-default:hover > span > span.text > span > span:nth-child(18) {
  transition-delay: 0.1275s;
}
.link-default:hover > span > span.text > span > span:nth-child(19) {
  transition-delay: 0.135s;
}
.link-default:hover > span > span.text > span > span:nth-child(20) {
  transition-delay: 0.1425s;
}
.link-default:hover > span > span.text > span > span:nth-child(21) {
  transition-delay: 0.15s;
}
.link-default:hover > span > span.text > span > span:nth-child(22) {
  transition-delay: 0.1575s;
}
.link-default:hover > span > span.text > span > span:nth-child(23) {
  transition-delay: 0.165s;
}
.link-default:hover > span > span.text > span > span:nth-child(24) {
  transition-delay: 0.1725s;
}
.link-default:hover > span > span.text > span > span:nth-child(25) {
  transition-delay: 0.18s;
}

.feature-card.secondary {
  transition: 0.65s var(--cubic-bezier-1);
}
.feature-card.secondary * {
  transition: 0.65s var(--cubic-bezier-1);
}
.feature-card.secondary:before {
  @apply absolute;
  @apply h-full;
  @apply opacity-0;
  @apply bg-secondary;
  @apply rounded-custom-lg;
  content: "";
  z-index: -1;
  width: 85%;
  bottom: 0;
  left: 5%;
  filter: blur(15px);
  transition: 0.65s var(--cubic-bezier-1);
}
.feature-card.secondary:hover {
  transform: translateY(-15px);
}
.feature-card.secondary:hover:before {
  @apply opacity-40;
  bottom: -20px;
}
.feature-card.secondary:hover > .wrapper-inner {
  @apply bg-secondary;
}
.feature-card.secondary:hover .content-icon .icon > span {
  @apply bg-white;
  @apply border-white;
  transform: translateY(-7.5px);
}
.feature-card.secondary:hover .content-text .subtitle .text-subtitle-primary {
  @apply text-white;
}
.feature-card.secondary:hover .content-text .desc .text-description-primary {
  @apply text-white;
}
.feature-card.secondary:hover .content-button .button .btn-default {
  @apply text-white;
}

.marquee-fade-horizontal {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 2.5%, rgb(0, 0, 0) 23%, rgb(0, 0, 0) 77%, rgba(0, 0, 0, 0) 97.5%);
}

/*# sourceMappingURL=global.css.map */
