@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-size-custom-d1 {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d2 {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d3 {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-d4 {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-h1 {
  font-size: calc(48 / var(--vw) * var(--multiplier));
}

.text-size-custom-h2 {
  font-size: calc(36 / var(--vw) * var(--multiplier));
}

.text-size-custom-h3 {
  font-size: calc(28 / var(--vw) * var(--multiplier));
}

.text-size-custom-h4 {
  font-size: calc(24 / var(--vw) * var(--multiplier));
}

.text-size-custom-h5 {
  font-size: calc(21 / var(--vw) * var(--multiplier));
}

.text-size-custom-h6 {
  font-size: calc(17 / var(--vw) * var(--multiplier));
}

.text-size-custom-p {
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

.text-size-custom-small {
  font-size: calc(14 / var(--vw) * var(--multiplier));
}

.text-size-custom-smallest {
  font-size: calc(12 / var(--vw) * var(--multiplier));
}

.p-custom-1 {
  padding: calc(5 / var(--vw) * var(--multiplier));
}

.p-custom-2 {
  padding: calc(10 / var(--vw) * var(--multiplier));
}

.p-custom-3 {
  padding: calc(15 / var(--vw) * var(--multiplier));
}

.p-custom-4 {
  padding: calc(25 / var(--vw) * var(--multiplier));
}

.p-custom-5 {
  padding: calc(30 / var(--vw) * var(--multiplier));
}

.p-custom-6 {
  padding: calc(35 / var(--vw) * var(--multiplier));
}

.p-custom-7 {
  padding: calc(40 / var(--vw) * var(--multiplier));
}

.p-custom-8 {
  padding: calc(45 / var(--vw) * var(--multiplier));
}

.p-custom-9 {
  padding: calc(50 / var(--vw) * var(--multiplier));
}

.p-custom-10 {
  padding: calc(100 / var(--vw) * var(--multiplier));
}

.p-custom-15 {
  padding: calc(150 / var(--vw) * var(--multiplier));
}

.pt-custom-1 {
  padding-top: calc(5 / var(--vw) * var(--multiplier));
}

.pt-custom-2 {
  padding-top: calc(10 / var(--vw) * var(--multiplier));
}

.pt-custom-3 {
  padding-top: calc(15 / var(--vw) * var(--multiplier));
}

.pt-custom-4 {
  padding-top: calc(25 / var(--vw) * var(--multiplier));
}

.pt-custom-5 {
  padding-top: calc(30 / var(--vw) * var(--multiplier));
}

.pt-custom-6 {
  padding-top: calc(35 / var(--vw) * var(--multiplier));
}

.pt-custom-7 {
  padding-top: calc(40 / var(--vw) * var(--multiplier));
}

.pt-custom-8 {
  padding-top: calc(45 / var(--vw) * var(--multiplier));
}

.pt-custom-9 {
  padding-top: calc(50 / var(--vw) * var(--multiplier));
}

.pt-custom-10 {
  padding-top: calc(100 / var(--vw) * var(--multiplier));
}

.pt-custom-15 {
  padding-top: calc(150 / var(--vw) * var(--multiplier));
}

.pb-custom-1 {
  padding-bottom: calc(5 / var(--vw) * var(--multiplier));
}

.pb-custom-2 {
  padding-bottom: calc(10 / var(--vw) * var(--multiplier));
}

.pb-custom-3 {
  padding-bottom: calc(15 / var(--vw) * var(--multiplier));
}

.pb-custom-4 {
  padding-bottom: calc(25 / var(--vw) * var(--multiplier));
}

.pb-custom-5 {
  padding-bottom: calc(30 / var(--vw) * var(--multiplier));
}

.pb-custom-6 {
  padding-bottom: calc(35 / var(--vw) * var(--multiplier));
}

.pb-custom-7 {
  padding-bottom: calc(40 / var(--vw) * var(--multiplier));
}

.pb-custom-8 {
  padding-bottom: calc(45 / var(--vw) * var(--multiplier));
}

.pb-custom-9 {
  padding-bottom: calc(50 / var(--vw) * var(--multiplier));
}

.pb-custom-10 {
  padding-bottom: calc(100 / var(--vw) * var(--multiplier));
}

.pb-custom-15 {
  padding-bottom: calc(150 / var(--vw) * var(--multiplier));
}

.pl-custom-1 {
  padding-left: calc(5 / var(--vw) * var(--multiplier));
}

.pl-custom-2 {
  padding-left: calc(10 / var(--vw) * var(--multiplier));
}

.pl-custom-3 {
  padding-left: calc(15 / var(--vw) * var(--multiplier));
}

.pl-custom-4 {
  padding-left: calc(25 / var(--vw) * var(--multiplier));
}

.pl-custom-5 {
  padding-left: calc(30 / var(--vw) * var(--multiplier));
}

.pl-custom-6 {
  padding-left: calc(35 / var(--vw) * var(--multiplier));
}

.pl-custom-7 {
  padding-left: calc(40 / var(--vw) * var(--multiplier));
}

.pl-custom-8 {
  padding-left: calc(45 / var(--vw) * var(--multiplier));
}

.pl-custom-9 {
  padding-left: calc(50 / var(--vw) * var(--multiplier));
}

.pl-custom-10 {
  padding-left: calc(100 / var(--vw) * var(--multiplier));
}

.pl-custom-15 {
  padding-left: calc(150 / var(--vw) * var(--multiplier));
}

.pr-custom-1 {
  padding-right: calc(5 / var(--vw) * var(--multiplier));
}

.pr-custom-2 {
  padding-right: calc(10 / var(--vw) * var(--multiplier));
}

.pr-custom-3 {
  padding-right: calc(15 / var(--vw) * var(--multiplier));
}

.pr-custom-4 {
  padding-right: calc(25 / var(--vw) * var(--multiplier));
}

.pr-custom-5 {
  padding-right: calc(30 / var(--vw) * var(--multiplier));
}

.pr-custom-6 {
  padding-right: calc(35 / var(--vw) * var(--multiplier));
}

.pr-custom-7 {
  padding-right: calc(40 / var(--vw) * var(--multiplier));
}

.pr-custom-8 {
  padding-right: calc(45 / var(--vw) * var(--multiplier));
}

.pr-custom-9 {
  padding-right: calc(50 / var(--vw) * var(--multiplier));
}

.pr-custom-10 {
  padding-right: calc(100 / var(--vw) * var(--multiplier));
}

.pr-custom-15 {
  padding-right: calc(150 / var(--vw) * var(--multiplier));
}

.py-custom-1 {
  padding-top: calc(5 / var(--vw) * var(--multiplier));
  padding-bottom: calc(5 / var(--vw) * var(--multiplier));
}

.py-custom-2 {
  padding-top: calc(10 / var(--vw) * var(--multiplier));
  padding-bottom: calc(10 / var(--vw) * var(--multiplier));
}

.py-custom-3 {
  padding-top: calc(15 / var(--vw) * var(--multiplier));
  padding-bottom: calc(15 / var(--vw) * var(--multiplier));
}

.py-custom-4 {
  padding-top: calc(25 / var(--vw) * var(--multiplier));
  padding-bottom: calc(25 / var(--vw) * var(--multiplier));
}

.py-custom-5 {
  padding-top: calc(30 / var(--vw) * var(--multiplier));
  padding-bottom: calc(30 / var(--vw) * var(--multiplier));
}

.py-custom-6 {
  padding-top: calc(35 / var(--vw) * var(--multiplier));
  padding-bottom: calc(35 / var(--vw) * var(--multiplier));
}

.py-custom-7 {
  padding-top: calc(40 / var(--vw) * var(--multiplier));
  padding-bottom: calc(40 / var(--vw) * var(--multiplier));
}

.py-custom-8 {
  padding-top: calc(45 / var(--vw) * var(--multiplier));
  padding-bottom: calc(45 / var(--vw) * var(--multiplier));
}

.py-custom-9 {
  padding-top: calc(50 / var(--vw) * var(--multiplier));
  padding-bottom: calc(50 / var(--vw) * var(--multiplier));
}

.py-custom-10 {
  padding-top: calc(100 / var(--vw) * var(--multiplier));
  padding-bottom: calc(100 / var(--vw) * var(--multiplier));
}

.py-custom-15 {
  padding-top: calc(150 / var(--vw) * var(--multiplier));
  padding-bottom: calc(150 / var(--vw) * var(--multiplier));
}

.px-custom-1 {
  padding-left: calc(5 / var(--vw) * var(--multiplier));
  padding-right: calc(5 / var(--vw) * var(--multiplier));
}

.px-custom-2 {
  padding-left: calc(10 / var(--vw) * var(--multiplier));
  padding-right: calc(10 / var(--vw) * var(--multiplier));
}

.px-custom-3 {
  padding-left: calc(15 / var(--vw) * var(--multiplier));
  padding-right: calc(15 / var(--vw) * var(--multiplier));
}

.px-custom-4 {
  padding-left: calc(25 / var(--vw) * var(--multiplier));
  padding-right: calc(25 / var(--vw) * var(--multiplier));
}

.px-custom-5 {
  padding-left: calc(30 / var(--vw) * var(--multiplier));
  padding-right: calc(30 / var(--vw) * var(--multiplier));
}

.px-custom-6 {
  padding-left: calc(35 / var(--vw) * var(--multiplier));
  padding-right: calc(35 / var(--vw) * var(--multiplier));
}

.px-custom-7 {
  padding-left: calc(40 / var(--vw) * var(--multiplier));
  padding-right: calc(40 / var(--vw) * var(--multiplier));
}

.px-custom-8 {
  padding-left: calc(45 / var(--vw) * var(--multiplier));
  padding-right: calc(45 / var(--vw) * var(--multiplier));
}

.px-custom-9 {
  padding-left: calc(50 / var(--vw) * var(--multiplier));
  padding-right: calc(50 / var(--vw) * var(--multiplier));
}

.px-custom-10 {
  padding-left: calc(100 / var(--vw) * var(--multiplier));
  padding-right: calc(100 / var(--vw) * var(--multiplier));
}

.px-custom-15 {
  padding-top: calc(150 / var(--vw) * var(--multiplier));
  padding-right: calc(150 / var(--vw) * var(--multiplier));
}

/* ----- Variables ----- */

:root {
  --vw: 1600;
  --multiplier: 100vw;
  --font-size-general: 16;
  --font-size-title: 165;
  --font-size-subtitle: 14;
  --font-size-description: 16;
  --font-size-date: 16;
  --font-size-caption: 16;
  --font-size-number: 47.5;
  --font-size-link: 14;
  --font-size-button: 16;
  --font-size-icon: 12;
  --color-primary: #4444DD;
  --color-secondary: #595CFF;
  --color-tertiary: #FF7B9C;
  --color-quarter: #E0E1FF;
  --color-quinary: #F5F6FF;
  --cubic-bezier-1: cubic-bezier(0.625, 0.05, 0, 1);
}

@media (max-width: 1080px) {
  :root {
    --vw: 900;
  }
}

@media (max-width: 600px) {
  :root {
    --vw: 400;
  }
}

body{
  padding-right: 0px;
  font-family: DM Sans, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(64 64 74 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

a, button {
  transition: 0.65s var(--cubic-bezier-1);
}

a *, button * {
  transition: 0.65s var(--cubic-bezier-1);
}

a:before, a:after, button:before, button:after {
  transition: 0.65s var(--cubic-bezier-1);
}

a:not(.btn):hover{
  --tw-text-opacity: 1;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1));
}

.container {
  max-width: 90% !important;
}

svg {
  width: calc(20 / var(--vw) * var(--multiplier));
  height: calc(20 / var(--vw) * var(--multiplier));
}

.wizard{
  position: relative;
}

@keyframes animate-bg-custom-gradient-primary {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-custom-gradient-primary {
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 90%);
}

.bg-custom-gradient-primary.bg-custom-animate-gradient-primary {
  background-size: 200% 200%;
  animation: animate-bg-custom-gradient-primary 10s ease infinite;
}

.text-size-custom-title-primary {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

.text-size-custom-title-secondary {
  font-size: calc(36 / var(--vw) * var(--multiplier));
}

.text-size-custom-title-tertiary {
  font-size: calc(27 / var(--vw) * var(--multiplier));
}

.text-size-custom-title-quarter {
  font-size: calc(17 / var(--vw) * var(--multiplier));
}

.text-size-custom-title-quinary {
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

.text-size-custom-subtitle-primary {
  font-size: calc(21 / var(--vw) * var(--multiplier));
}

.text-size-custom-subtitle-secondary {
  font-size: calc(28 / var(--vw) * var(--multiplier));
}

.text-size-custom-subtitle-tertiary {
  font-size: calc(15 / var(--vw) * var(--multiplier));
}

.text-size-custom-description-primary {
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

.text-size-custom-description-secondary {
  font-size: calc(17 / var(--vw) * var(--multiplier));
}

.text-size-custom-description-tertiary {
  font-size: calc(21 / var(--vw) * var(--multiplier));
}

.text-size-custom-button-primary {
  font-size: calc(19 / var(--vw) * var(--multiplier));
}

.text-size-custom-button-secondary {
  font-size: calc(16 / var(--vw) * var(--multiplier));
}

.text-size-custom-link-primary {
  font-size: calc(17 / var(--vw) * var(--multiplier));
}

.text-size-custom-number-primary {
  font-size: calc(55 / var(--vw) * var(--multiplier));
}

/* Text */

.text-title-primary span{
  --tw-text-opacity: 1;
  color: rgb(89 92 255 / var(--tw-text-opacity, 1));
}

.text-number-primary{
  font-weight: 700;
}

/* Button */

.btn-default{
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: calc(19 / var(--vw) * var(--multiplier));
}

.btn-default > span.wrapper > span{
  position: relative;
}

.btn-default > span.wrapper > span.text{
  display: block;
  overflow: hidden;
}

.btn-default > span.wrapper > span.text > span{
  display: block;
}

.btn-default > span.wrapper > span.text > span:nth-child(2){
  position: absolute;
  width: 100%;
  top: 100%;
}

.btn-default > span.wrapper > span.text > span > span{
  display: inline-block;
  white-space: pre;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.005s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.01s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.015s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.02s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.025s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.03s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.035s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.04s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.045s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.05s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.055s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.06s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.065s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.07s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.075s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.08s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.085s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.09s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.095s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.1s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.105s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.11s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.115s;
}

.btn-default > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.12s;
}

.btn-default:hover > span.wrapper > span.text > span:nth-child(1) > span {
  transform: translateY(-100%);
}

.btn-default:hover > span.wrapper > span.text > span:nth-child(2) > span {
  transform: translateY(-100%);
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.0125s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.025s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.0375s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.05s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.0625s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.075s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.0875s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.1s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.1125s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.125s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.1375s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.15s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.1625s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.175s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.1875s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.2s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.2125s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.225s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.2375s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.25s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.2625s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.275s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.2875s;
}

.btn-default:hover > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.3s;
}

.btn-solid{
  border-radius: calc(10 / 1600 * 100vw);
  width: calc(225 / var(--vw) * var(--multiplier));
  padding: calc(17.5 / var(--vw) * var(--multiplier)) calc(20 / var(--vw) * var(--multiplier));
}

.btn-solid:before{
  position: absolute;
  height: 100%;
  opacity: 0;
  border-radius: 9999px;
  content: "";
  z-index: -1;
  width: 90%;
  bottom: 0;
  left: 5%;
  background: inherit;
  filter: blur(15px);
}

.btn-solid.primary{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(68 68 221 / var(--tw-bg-opacity, 1));
}

.btn-solid.primary:hover{
  --tw-bg-opacity: 0.90;
}

.btn-solid.secondary-light{
  --tw-text-opacity: 1;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(224 225 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.secondary-light:before{
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.secondary-light:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.quarter{
  --tw-text-opacity: 1;
  color: rgb(64 64 74 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(224 225 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.quarter:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(224 225 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.light{
  --tw-text-opacity: 1;
  color: rgb(64 64 74 / var(--tw-text-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.btn-solid.gradient-secondary{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);
  background-size: 300% 300%;
}

.btn-solid.gradient-secondary:before {
  background: linear-gradient(120deg, var(--color-secondary) 45%, var(--color-tertiary) 100%);
  background-size: 100% 100%;
}

.btn-solid.gradient-secondary:hover {
  background-size: 100% 100%;
}

.btn-solid:hover {
  transform: translateY(-5px);
}

.btn-solid:hover:before{
  opacity: 0.4;
  bottom: -10px;
}

.btn-transparent {
  font-size: calc(16 / var(--vw) * var(--multiplier));
  --tw-text-opacity: 1;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1));
}

.btn-transparent.primary{
  --tw-text-opacity: 1;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1));
}

.btn-transparent > span.wrapper{
  display: flex;
  align-items: center;
}

.btn-transparent > span.wrapper > span.icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: calc(15 / 1600 * 100vw);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  border-radius: 9999px;
  width: calc(45 / var(--vw) * var(--multiplier));
  height: calc(45 / var(--vw) * var(--multiplier));
}

.btn-transparent > span.wrapper > span.icon svg {
  width: calc(25 / var(--vw) * var(--multiplier));
  height: calc(25 / var(--vw) * var(--multiplier));
}

.btn-transparent:hover > span.wrapper > span.icon{
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.link-default{
  position: relative;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  font-family: var(--font-family-link);
  font-weight: var(--font-weight-link);
  font-size: calc(var(--font-size-link) / var(--vw) * var(--multiplier));
  line-height: calc(var(--font-size-link) / var(--vw) * var(--multiplier) * 1.5);
}

.link-default > span.wrapper{
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  padding: calc(10 / var(--vw) * var(--multiplier)) 0;
}

.link-default > span.wrapper:before, .link-default > span.wrapper:after{
  position: absolute;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  content: "";
  height: calc(1 / var(--vw) * var(--multiplier));
  bottom: calc(1 / var(--vw) * var(--multiplier));
  left: 0;
  transform: scaleX(0);
  transition: 0.65s var(--cubic-bezier-1);
}

.link-default > span.wrapper:before {
  transform-origin: right;
}

.link-default > span.wrapper:after {
  transition: unset;
  transform-origin: left;
}

.link-default > span.wrapper > span{
  position: relative;
  z-index: 20;
}

.link-default > span.wrapper > span.text{
  display: flex;
  align-items: center;
  overflow: hidden;
}

.link-default > span.wrapper > span.text > span{
  display: block;
  overflow: hidden;
  z-index: 20;
}

.link-default > span.wrapper > span.text > span:nth-child(2){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-default > span.wrapper > span.text > span:nth-child(2) > span {
  transform: translateY(100%);
}

.link-default > span.wrapper > span.text > span > span{
  display: inline-block;
  white-space: pre;
}

.link-default > span.wrapper > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(2) {
  transition-delay: 0.005s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(3) {
  transition-delay: 0.01s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(4) {
  transition-delay: 0.015s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(5) {
  transition-delay: 0.02s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(6) {
  transition-delay: 0.025s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(7) {
  transition-delay: 0.03s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(8) {
  transition-delay: 0.035s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(9) {
  transition-delay: 0.04s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(10) {
  transition-delay: 0.045s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(11) {
  transition-delay: 0.05s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(12) {
  transition-delay: 0.055s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(13) {
  transition-delay: 0.06s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(14) {
  transition-delay: 0.065s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(15) {
  transition-delay: 0.07s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(16) {
  transition-delay: 0.075s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(17) {
  transition-delay: 0.08s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(18) {
  transition-delay: 0.085s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(19) {
  transition-delay: 0.09s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(20) {
  transition-delay: 0.095s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(21) {
  transition-delay: 0.1s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(22) {
  transition-delay: 0.105s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(23) {
  transition-delay: 0.11s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(24) {
  transition-delay: 0.115s;
}

.link-default > span.wrapper > span.text > span > span:nth-child(25) {
  transition-delay: 0.12s;
}

.link-default:hover > span.wrapper:before, .link-default:hover > span.wrapper:after {
  transform: scaleX(1);
}

.link-default:hover > span.wrapper:before {
  transition: unset;
  transition-delay: 0.325s;
}

.link-default:hover > span.wrapper:after {
  transition-duration: 0.65s;
}

.link-default:hover > span > span.text > span:nth-child(1) > span {
  transform: translateY(-100%);
}

.link-default:hover > span > span.text > span:nth-child(2) > span {
  transform: translateY(0%);
}

.link-default:hover > span > span.text > span > span:nth-child(1) {
  transition-delay: 0s;
}

.link-default:hover > span > span.text > span > span:nth-child(2) {
  transition-delay: 0.0075s;
}

.link-default:hover > span > span.text > span > span:nth-child(3) {
  transition-delay: 0.015s;
}

.link-default:hover > span > span.text > span > span:nth-child(4) {
  transition-delay: 0.0225s;
}

.link-default:hover > span > span.text > span > span:nth-child(5) {
  transition-delay: 0.03s;
}

.link-default:hover > span > span.text > span > span:nth-child(6) {
  transition-delay: 0.0375s;
}

.link-default:hover > span > span.text > span > span:nth-child(7) {
  transition-delay: 0.045s;
}

.link-default:hover > span > span.text > span > span:nth-child(8) {
  transition-delay: 0.0525s;
}

.link-default:hover > span > span.text > span > span:nth-child(9) {
  transition-delay: 0.06s;
}

.link-default:hover > span > span.text > span > span:nth-child(10) {
  transition-delay: 0.0675s;
}

.link-default:hover > span > span.text > span > span:nth-child(11) {
  transition-delay: 0.075s;
}

.link-default:hover > span > span.text > span > span:nth-child(12) {
  transition-delay: 0.0825s;
}

.link-default:hover > span > span.text > span > span:nth-child(13) {
  transition-delay: 0.09s;
}

.link-default:hover > span > span.text > span > span:nth-child(14) {
  transition-delay: 0.0975s;
}

.link-default:hover > span > span.text > span > span:nth-child(15) {
  transition-delay: 0.105s;
}

.link-default:hover > span > span.text > span > span:nth-child(16) {
  transition-delay: 0.1125s;
}

.link-default:hover > span > span.text > span > span:nth-child(17) {
  transition-delay: 0.12s;
}

.link-default:hover > span > span.text > span > span:nth-child(18) {
  transition-delay: 0.1275s;
}

.link-default:hover > span > span.text > span > span:nth-child(19) {
  transition-delay: 0.135s;
}

.link-default:hover > span > span.text > span > span:nth-child(20) {
  transition-delay: 0.1425s;
}

.link-default:hover > span > span.text > span > span:nth-child(21) {
  transition-delay: 0.15s;
}

.link-default:hover > span > span.text > span > span:nth-child(22) {
  transition-delay: 0.1575s;
}

.link-default:hover > span > span.text > span > span:nth-child(23) {
  transition-delay: 0.165s;
}

.link-default:hover > span > span.text > span > span:nth-child(24) {
  transition-delay: 0.1725s;
}

.link-default:hover > span > span.text > span > span:nth-child(25) {
  transition-delay: 0.18s;
}

.feature-card.secondary {
  transition: 0.65s var(--cubic-bezier-1);
}

.feature-card.secondary * {
  transition: 0.65s var(--cubic-bezier-1);
}

.feature-card.secondary:before{
  position: absolute;
  height: 100%;
  opacity: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
  border-radius: calc(20 / 1600 * 100vw);
  content: "";
  z-index: -1;
  width: 85%;
  bottom: 0;
  left: 5%;
  filter: blur(15px);
  transition: 0.65s var(--cubic-bezier-1);
}

.feature-card.secondary:hover {
  transform: translateY(-15px);
}

.feature-card.secondary:hover:before{
  opacity: 0.4;
  bottom: -20px;
}

.feature-card.secondary:hover > .wrapper-inner{
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
}

.feature-card.secondary:hover .content-icon .icon > span{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  transform: translateY(-7.5px);
}

.feature-card.secondary:hover .content-text .subtitle .text-subtitle-primary{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.feature-card.secondary:hover .content-text .desc .text-description-primary{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.feature-card.secondary:hover .content-button .button .btn-default{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.marquee-fade-horizontal {
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 2.5%, rgb(0, 0, 0) 23%, rgb(0, 0, 0) 77%, rgba(0, 0, 0, 0) 97.5%);
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 2.5%, rgb(0, 0, 0) 23%, rgb(0, 0, 0) 77%, rgba(0, 0, 0, 0) 97.5%);
}

@media (max-width: 800px) {
  .container {
    max-width: 100% !important;
  }

  .btn-solid {
    width: calc(125 / var(--vw) * var(--multiplier));
    padding: calc(12.5 / var(--vw) * var(--multiplier)) calc(15 / var(--vw) * var(--multiplier));
  }

  .btn-transparent > span.wrapper > span.icon {
    width: calc(30 / var(--vw) * var(--multiplier));
    height: calc(30 / var(--vw) * var(--multiplier));
  }

  .btn-transparent > span.wrapper > span.icon svg {
    width: calc(12.5 / var(--vw) * var(--multiplier));
    height: calc(12.5 / var(--vw) * var(--multiplier));
  }
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.container {
  padding-top: calc(100 / var(--vw) * var(--multiplier));
  padding-bottom: calc(100 / var(--vw) * var(--multiplier));
}

.pointer-events-none{
  pointer-events: none;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-0{
  bottom: 0px;
}

.bottom-\[-50\%\]{
  bottom: -50%;
}

.left-\[0\]{
  left: 0;
}

.left-\[50\%\]{
  left: 50%;
}

.left-\[calc\(\(-200\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  left: calc((-200 * var(--multiplier)) / var(--vw));
}

.right-0{
  right: 0px;
}

.right-\[calc\(\(-30\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  right: calc((-30 * var(--multiplier)) / var(--vw));
}

.top-\[-50\%\]{
  top: -50%;
}

.top-\[41\.5\%\]{
  top: 41.5%;
}

.top-\[50\%\]{
  top: 50%;
}

.z-10{
  z-index: 10;
}

.col-span-12{
  grid-column: span 12 / span 12;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-3{
  grid-column: span 3 / span 3;
}

.col-span-4{
  grid-column: span 4 / span 4;
}

.col-span-5{
  grid-column: span 5 / span 5;
}

.col-span-6{
  grid-column: span 6 / span 6;
}

.col-start-8{
  grid-column-start: 8;
}

.col-start-9{
  grid-column-start: 9;
}

.m-custom-3{
  margin: calc(15 / 1600 * 100vw);
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mx-custom-2{
  margin-left: calc(10 / 1600 * 100vw);
  margin-right: calc(10 / 1600 * 100vw);
}

.-mt-\[calc\(\(125\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  margin-top: calc(calc((125 * var(--multiplier)) / var(--vw)) * -1);
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-\[calc\(\(60\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  margin-bottom: calc((60 * var(--multiplier)) / var(--vw));
}

.mb-custom-1{
  margin-bottom: calc(5 / 1600 * 100vw);
}

.mb-custom-10{
  margin-bottom: calc(100 / 1600 * 100vw);
}

.mb-custom-15{
  margin-bottom: calc(150 / 1600 * 100vw);
}

.mb-custom-2{
  margin-bottom: calc(10 / 1600 * 100vw);
}

.mb-custom-3{
  margin-bottom: calc(15 / 1600 * 100vw);
}

.mb-custom-4{
  margin-bottom: calc(25 / 1600 * 100vw);
}

.mb-custom-5{
  margin-bottom: calc(30 / 1600 * 100vw);
}

.mb-custom-6{
  margin-bottom: calc(35 / 1600 * 100vw);
}

.mb-custom-7{
  margin-bottom: calc(40 / 1600 * 100vw);
}

.mb-custom-8{
  margin-bottom: calc(45 / 1600 * 100vw);
}

.ml-1{
  margin-left: 0.25rem;
}

.ml-custom-2{
  margin-left: calc(10 / 1600 * 100vw);
}

.mr-2{
  margin-right: 0.5rem;
}

.mr-custom-1{
  margin-right: calc(5 / 1600 * 100vw);
}

.mr-custom-2{
  margin-right: calc(10 / 1600 * 100vw);
}

.mr-custom-3{
  margin-right: calc(15 / 1600 * 100vw);
}

.mt-\[calc\(\(75\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  margin-top: calc((75 * var(--multiplier)) / var(--vw));
}

.mt-auto{
  margin-top: auto;
}

.mt-custom-9{
  margin-top: calc(50 / 1600 * 100vw);
}

.\!block{
  display: block !important;
}

.block{
  display: block;
}

.\!inline-block{
  display: inline-block !important;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.inline-flex{
  display: inline-flex;
}

.grid{
  display: grid;
}

.h-10{
  height: 2.5rem;
}

.h-4{
  height: 1rem;
}

.h-\[calc\(\(125\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((125 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(1650\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((1650 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(30\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((30 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(37\.5\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((37.5 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(40\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((40 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(500\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((500 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(60\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((60 * var(--multiplier)) / var(--vw));
}

.h-\[calc\(\(850\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  height: calc((850 * var(--multiplier)) / var(--vw));
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.\!w-auto{
  width: auto !important;
}

.w-10{
  width: 2.5rem;
}

.w-4{
  width: 1rem;
}

.w-\[96\.5\%\]{
  width: 96.5%;
}

.w-\[calc\(\(1200\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((1200 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(1650\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((1650 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(200\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((200 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(30\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((30 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(37\.5\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((37.5 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(60\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((60 * var(--multiplier)) / var(--vw));
}

.w-\[calc\(\(850\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  width: calc((850 * var(--multiplier)) / var(--vw));
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.max-w-\[50\%\]{
  max-width: 50%;
}

.max-w-\[93\.5\%\]{
  max-width: 93.5%;
}

.max-w-\[calc\(\(1100\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  max-width: calc((1100 * var(--multiplier)) / var(--vw));
}

.max-w-\[calc\(\(350\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  max-width: calc((350 * var(--multiplier)) / var(--vw));
}

.max-w-\[calc\(\(400\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  max-width: calc((400 * var(--multiplier)) / var(--vw));
}

.flex-shrink-0{
  flex-shrink: 0;
}

.translate-x-\[-50\%\]{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.grid-cols-10{
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.gap-custom-gap-5{
  gap: calc(30 / 1600 * 100vw);
}

.overflow-hidden{
  overflow: hidden;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.rounded-custom-lg{
  border-radius: calc(20 / 1600 * 100vw);
}

.rounded-custom-md{
  border-radius: calc(10 / 1600 * 100vw);
}

.rounded-full{
  border-radius: 9999px;
}

.border{
  border-width: 1px;
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(64 64 74 / var(--tw-border-opacity, 1));
}

.border-opacity-15{
  --tw-border-opacity: 0.15;
}

.border-opacity-25{
  --tw-border-opacity: 0.25;
}

.bg-\[\#FFDE9E\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 222 158 / var(--tw-bg-opacity, 1));
}

.bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(64 64 74 / var(--tw-bg-opacity, 1));
}

.bg-color-custom-quinary{
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 255 / var(--tw-bg-opacity, 1));
}

.bg-color-custom-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
}

.bg-color-custom-tertiary{
  --tw-bg-opacity: 1;
  background-color: rgb(255 123 156 / var(--tw-bg-opacity, 1));
}

.bg-secondary{
  --tw-bg-opacity: 1;
  background-color: rgb(89 92 255 / var(--tw-bg-opacity, 1));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-\[0\.10\]{
  --tw-bg-opacity: 0.10;
}

.bg-opacity-\[0\.15\]{
  --tw-bg-opacity: 0.15;
}

.pt-0{
  padding-top: 0px;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.font-bold{
  font-weight: 700;
}

.leading-5{
  line-height: 1.25rem;
}

.leading-none{
  line-height: 1;
}

.\!text-primary{
  --tw-text-opacity: 1 !important;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1)) !important;
}

.\!text-white{
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(64 64 74 / var(--tw-text-opacity, 1));
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(68 68 221 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-opacity-60{
  --tw-text-opacity: 0.6;
}

.text-opacity-65{
  --tw-text-opacity: 0.65;
}

.text-opacity-75{
  --tw-text-opacity: 0.75;
}

.underline{
  text-decoration-line: underline;
}

.shadow-none{
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur-\[calc\(\(150\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
  --tw-blur: blur(calc((150 * var(--multiplier)) / var(--vw)));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 640px){
  .sm\:col-span-3{
    grid-column: span 3 / span 3;
  }
}

@media (min-width: 768px){
  .md\:h-\[calc\(\(30\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
    height: calc((30 * var(--multiplier)) / var(--vw));
  }

  .md\:h-\[calc\(\(45\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
    height: calc((45 * var(--multiplier)) / var(--vw));
  }

  .md\:w-\[calc\(\(30\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
    width: calc((30 * var(--multiplier)) / var(--vw));
  }

  .md\:w-\[calc\(\(45\*var\(--multiplier\)\)\/var\(--vw\)\)\]{
    width: calc((45 * var(--multiplier)) / var(--vw));
  }
}
/*# sourceMappingURL=tailwind-output.css.map */